<nav class="navbar sticky-top navbar-inverse navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/playlist">
      <img src="/images/Treble_Logo.png" width="150" height="60" alt="" />
    </a>
  </div>
</nav>

<main class="content">
  <div class="login-logo col-sm-6">
    <img id="girl-logo" src="../images/girl-login.svg" />
  </div>
  <div class="login-form align-items-center">
    <div class="treble-logo">
      <img
        class="mb-12"
        src="../images/Treble_Logo.png "
        width=".2erm"
        height="200"
      />
    </div>
    <form action="/auth/login" method="POST">
      <div class="col-md-12">
        <label for="auth-email">Email</label>
        <input
          class="form-control"
          id="auth-email"
          type="email"
          name="email"
          placeholder="Enter Your Email"
        />
      </div>
      <div class="col-md-12">
        <label for="auth-password">Password</label>
        <input
          class="form-control"
          id="auth-password"
          type="password"
          name="password"
          placeholder="Enter Your Password"
        />
      </div>
      <input type="submit" class="btn btn-primary home-btn" value="Log In" />
    </form>
    <a href="/auth/signup">Don't Have An Account? <br />Sign Up HERE</a>
  </div>
</main>
