*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: rgba(239, 141, 52, 0.966);
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  margin-top: 6vh;
}
h1, h2, h3{
  color: white;
}
.navbar-nav a {
  font-size: 15px;
  padding: 10px;
}
nav{
  background-color: rgb(34, 37, 31);
}
.navbar-nav{
  display: flex; 
  flex-direction: row;
  padding-bottom: 0;
}


