<h1>This is a playlist show page</h1>
<%= playlist.name %>

<form method="GET" action="/playlist/<%= playlist.id %>/search">
  <input type="text" name="track" placeholder="track">
  <input type="text" name="artist" placeholder="artist">
  <button class="btn btn-primary" type="submit">Search</button>
</form>